@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,700&family=Public+Sans:wght@200;300;400;500&display=swap');
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
code {
  font-family: 'Public Sans', sans-serif;

}
.container {
  padding: 0 7rem;
}
p {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: hsl(233, 8%, 62%);
}
h1 {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 58px;
  line-height: 1.1;
  color: hsla(225, 4%, 21%, 0.799);
  margin: 1.2rem 0;
}
h2 {
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.1;
  color: hsla(225, 4%, 21%, 0.799);
  margin: 1.2rem 0;
}

